h1{
    font-size : 25px;
    color : green;
    text-align : center;
}
td button{width:100%}
table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 2px solid black;
  }
table.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}